# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.env
.venv/
venv/

# Tests / coverage
.pytest_cache/
.coverage
htmlcov/

# Mypy
.mypy_cache/

# Ruff
.ruff_cache/

# Build
dist/
build/
*.egg-info/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Docker
*.log

# SQLite
*.sqlite3